@using System.Linq;
@using System.Collections;
@using System.Web.Routing;
@{
    dynamic postPage=Model.PostPage;
    dynamic posts = (IEnumerable<dynamic>)postPage.Posts;
}
@foreach (var post in posts)
{
    var category = ((IEnumerable<dynamic>)post.Categorys).FirstOrDefault();
    var routeValues = new RouteValueDictionary(new { area = "Rabbit.Blogs", post.Seo.RoutePath });
    if (category != null)
    {
        routeValues.Add("CategoryRoutePath", category.Seo.RoutePath);
    }
    var postUrl = Url.Action("Index", "Post", routeValues);
    string[] tagList = post.Tags == null ? new string[0] : post.Tags.Split(new[] {','}, StringSplitOptions.RemoveEmptyEntries);
    <div id="article-list">
        <div class="article well clearfix">
            <div class="data-article hidden-xs">
                <span class="month">@(post.CreateTime.Month)月</span> <span class="day">@post.CreateTime.Day</span>
            </div> <section class="hidden-xs">
                <div class="title-article">
                    <h1>
                        <a href="@postUrl">@post.Title</a>
                    </h1>
                </div>
                <div class="tag-article">
                    @if (tagList.Any())
                    {
                        <span class="label label-zan"><i class="fa fa-tags"></i>
                             @foreach (var tag in tagList)
                             {
                                 <a href="@Url.Action("Index", "Tag", new {area = "Rabbit.Blogs", tag})" rel="category tag">@tag</a>
                             }
                            </span>
                    }
                    <span class="label label-zan"><i class="fa fa-user"></i> <a href="@Url.Action("Index","Author",new {area="Rabbit.Blogs",author=post.User.Name})" title="由@(post.User.Name)发布" rel="author">@post.User.Name</a></span> <span class="label label-zan"><i class="fa fa-eye"></i> @post.ReadingCount views</span>
                </div>
                <div class="content-article">
                    <figure class="thumbnail">
                        <a href="@postUrl">
                            <img width="460" height="279" src="http://wittsay.cc/wp-content/uploads/2015/06/1-130R91T233539-e1434119289395.jpg" class="attachment-full wp-post-image" alt="@post.Title"/>
                        </a>
                    </figure>
                    @if (!string.IsNullOrEmpty(post.Summary))
                    {
                        <div class="alert alert-zan">
                            @post.Summary
                        </div>
                    }
                </div>
                <a class="btn btn-danger pull-right read-more" href="@postUrl" title="详细阅读 @post.Title">阅读全文 <span class="badge"><span class="ds-thread-count" data-thread-key="719" data-replace="1">@(((IEnumerable<dynamic>)post.Comments).Count())</span></span></a>
            </section> 
            <section class="visible-xs">
                <div class="title-article">
                    <h4>
                        <a href="@postUrl">@post.Title</a>
                    </h4>
                </div>
                <p>
                    <i class="fa fa-calendar"></i> @post.CreateTime.ToString("M-dd") <i class="fa fa-eye"></i> @post.ReadingCount views
                </p>
                <div class="content-article">
                    <figure class="thumbnail">
                        <a href="@postUrl">
                            <img width="460" height="279" src="http://wittsay.cc/wp-content/uploads/2015/06/1-130R91T233539-e1434119289395.jpg" class="attachment-full wp-post-image" alt="@post.Title"/>
                        </a>
                    </figure>
                    @if (!string.IsNullOrEmpty(post.Summary))
                    {

                        <div class="alert alert-zan">@post.Summary</div>
                    }
                </div>
                <a class="btn btn-danger pull-right read-more btn-block" href="@postUrl" title="详细阅读 @post.Title">阅读全文 <span class="badge"><span class="ds-thread-count" data-thread-key="719" data-replace="1">@(((IEnumerable<dynamic>)post.Comments).Count())</span></span></a>
            </section>
        </div>
    </div>
}
<div id="zan-page" class="clearfix">
    <ul class="pagination pagination-zan pull-right">
        <li></li>
        @for (var i = 0; i < postPage.PageCount; i++)
        {
            var tagBuilder = new TagBuilder("li");
            if (i == postPage.PageIndex)
            {
                tagBuilder.AddCssClass("active");
            }
            @Html.Raw(tagBuilder.ToString(TagRenderMode.StartTag))
            <a>@(i + 1)</a>
            @Html.Raw(tagBuilder.ToString(TagRenderMode.EndTag))
        }
    </ul>
</div>
