@using System.Web.Optimization
@model Rabbit.Users.ViewModels.UserEditViewModel
@helper PageStyles()
{
    <style type="text/css">
        .field-validation-error {
            color: #dd4b39;
        }
    </style>
    <link href="~/Themes/TheAdmin/lib/iCheck/all.css" rel="stylesheet" />
}
@helper PageScripts()
{
    @Scripts.Render("~/bundles/jqueryvalidate", "~/bundles/jqueryform")
    <script src="~/Themes/TheAdmin/lib/iCheck/icheck.min.js"></script>
    <script type="text/javascript">
        var container = $(".box-info");
        var form = container.find("form");

        var dialog=$(".alert-dismissable");

        form.ajaxForm({
            beforeSerialize: function () {
            },
            beforeSubmit: function (array, f) {
                return f.valid();
            },
            success: function (data) {
                dialog.removeClass("alert-danger", "alert-success");
                if (data.success) {
                    dialog.addClass("alert-success");
                    dialog.find("span").html("保存成功！");
                } else {
                    dialog.addClass("alert-danger");
                    dialog.find("span").html("保存失败，"+data.message);
                }
                dialog.fadeIn(function() {
                    setTimeout(function() {
                        dialog.fadeOut();
                    }, 1500);
                });
            },
            error: function () {
                dialog.removeClass("alert-danger", "alert-success").addClass("alert-danger");
                dialog.find("span").html("保存失败，请联系管理员！");
                dialog.fadeIn(function () {
                    setTimeout(function () {
                        dialog.fadeOut();
                    }, 1500);
                });
            }
        });
    </script>
}
@{
    Layout.Styles = PageStyles();
    Layout.Scripts = PageScripts();
    var title = "编辑用户 - " + Model.UserName;
    Layout.Title = title;
}

<div class="alert alert-danger alert-dismissable" style="display: none">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-ban"></i> <span>删除失败，请联系管理员!</span></h4>
</div>
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">@title</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    <form method="POST" class="form-horizontal">
        @Html.HiddenFor(model=>model.Id)
        @Html.AntiForgeryToken()
        <div class="box-body">
            <div class="form-group">
                <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.UserName)</label>
                <div class="col-sm-10">
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.UserName, new {@class = "form-control"})
                    </div>
                    <div class="col-sm-2">
                        @Html.ValidationMessageFor(model => model.UserName)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.AccountName)</label>
                <div class="col-sm-10">
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.AccountName, new {@class = "form-control"})
                    </div>
                    <div class="col-sm-2">
                        @Html.ValidationMessageFor(model => model.AccountName)
                    </div>
                </div>
            </div>
            <div class="box box-warning collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title" data-widget="collapse" style="cursor: pointer">
                        修改密码
                        <small>（留空则不修改）</small>
                    </h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse" title="折叠"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.Password)</label>
                            <div class="col-sm-10">
                                <div class="col-sm-8">
                                    @Html.PasswordFor(model => model.Password, new {@class = "form-control"})
                                </div>
                                <div class="col-sm-2">
                                    @Html.ValidationMessageFor(model => model.Password)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.ConfirmPassword)</label>
                            <div class="col-sm-10">
                                <div class="col-sm-8">
                                    @Html.PasswordFor(model => model.ConfirmPassword, new {@class = "form-control"})
                                </div>
                                <div class="col-sm-2">
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div>
        </div><!-- /.box-body -->
        <div class="box-footer" style="text-align: center">
            <button type="submit" class="btn btn-info">保存</button>
            <button type="submit" class="btn btn-default">取消</button>
        </div><!-- /.box-footer -->
    </form>
</div>