@using Rabbit.Web.Mvc.DisplayManagement.Shapes
@{
    var items = ((IEnumerable<dynamic>)Enumerable.Cast<dynamic>(Model)).ToArray();
}
@if (Model.LocalNavigation)
{
    var hasChildren = items.Any(i => i.LocalNavigation);
    var isSelected = items.Any(i => i.Selected);
    RabbitTagBuilder tag = Tag(Model, "li");

    if (hasChildren)
    {
        if (isSelected)
        {
            tag.AddCssClass("active");
        }
        tag.AddCssClass("treeview");
        @tag.StartElement
        <a href="@Model.Href">
            <i class='@Model.Icon'></i> <span>@Model.Text</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            @DisplayChildren(Model)
        </ul>
        @tag.EndElement
    }
    else
    {
        if (Model.Selected)
        {
            tag.AddCssClass("active");
        }
        @tag.StartElement
        <a href="@Model.Href"><i class='@Model.Icon'></i> <span>@Model.Text</span></a>
        @tag.EndElement
    }
}