@using Rabbit.Contents.Services@{Func<dynamic, dynamic> zone = x => Display(x);}<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7" lang="zh-CN"> <![endif]--> <!--[if IE 8]><html class="ie ie8" lang="zh-CN"> <![endif]--> <!--[if !(IE 7) | !(IE 8) ]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<head>
    <link href="~/Themes/TheThemeMachine/Content/Styles/autoptimize.css" rel="stylesheet" />
    <title>@((Model.AppendTenantName is bool&& Model.AppendTenantName==false) ? Model.Seo.Title: Model.Seo.Title+" - "+WorkContext.CurrentTenant.TenantName)</title>
    <meta charset="utf-8">
    @if (Model.Seo != null)
    {
    <meta content="@Model.Seo.Keywords" name="keywords" />
    <meta content="@Model.Seo.Description" name="description" />
    }
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/Modules/Rabbit.Resources/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="~/bundles/jquery"></script>
    <!--[if lt IE 9]> <script src="~/Themes/TheThemeMachine/Scripts/modernizr.js"></script> <script src="~/Themes/TheThemeMachine/Scripts/respond.min.js"></script> <script src="~/Themes/TheThemeMachine/Scripts/html5shiv.js"></script> <![endif]-->
</head>
<body class="home blog">
<header id="zan-header" class="navbar navbar-inverse">
    @Display.Blog_Categorys()
    <div id="if-fixed" class="pull-right visible-lg visible-md">
        <i class="fa fa-thumb-tack"></i> <input type="checkbox">
    </div>
</header>
<div id="zan-bodyer">
    <div class="container">
        <div class="row">
            <div id="mainstay" class="col-md-8">
                <div id="ie-warning" class="alert alert-danger fade in"> <button type="button" class="close" data-dismiss="alert">&times;</button> <i class="fa fa-warning"></i> 请注意，@(WorkContext.CurrentTenant.TenantName)并不支持低于IE8的浏览器，为了获得最佳效果，请下载最新的浏览器，推荐下载 <i class="fa fa-compass"></i> Chrome浏览器
                </div>
                @if (Model.Content != null)
                {
                    @zone(Model.Content)
                }
            </div>
            <aside class="col-md-4" id="sidebar">
                @Display.Blog_Search()
                @Display.Blog_Subscribe()
                @Display.Blog_MostReadPosts()
                @Display.Blog_NewestComments()
                <aside id="zan_sets-2">
                    <div class="panel  panel-zan hidden-xs">
                        <ul class="nav nav-pills pills-zan">
                            <li class="active">
                                <a href="#sidebar-categories" data-toggle="tab">目录</a>
                            </li><li>
                                <a href="#sidebar-tags" data-toggle="tab">TAGS</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active nav bs-sidenav fade in" id="sidebar-categories">
                                @Display.Blog_Categorys(Style: "Component")
                            </div>
                            <div class="tab-pane fade" id="sidebar-tags">
                                @Display.Blog_Tags()
                            </div>
                        </div>
                    </div>
                </aside>
            </aside>
        </div>
    </div>
</div>
<footer id="zan-footer">
    <div class="container">
        @Html.Raw(WorkContext.Resolve<ISiteSettingsService>().Get().Copyright)
    </div>
</footer>
<div id="zan-gotop">
    <i class="fa fa-angle-up"></i>
</div>
<script src="~/Themes/TheThemeMachine/Scripts/autoptimize.js"></script>
</body>
</html>