@{Func<dynamic, dynamic> zone = x => Display(x);}<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@Model.Title - @WorkContext.CurrentTenant.TenantName</title>
    <meta name="keywords" content="@Model.Keywords" />
    <meta name="description" content="@Model.Description" />
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="~/Themes/TheAdmin/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Themes/TheAdmin/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Themes/TheAdmin/lib/ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/Themes/TheAdmin/dist/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Themes/TheAdmin/dist/css/skins/skin-blue-light.min.css" rel="stylesheet" />
    @zone(Model.Styles)
    <!--[if lt IE 9]>
        <script src="~/Themes/TheAdmin/Scripts/html5shiv.min.js"></script>
        <script src="~/Themes/TheAdmin/Scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body class="skin-blue-light sidebar-mini">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="~/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>H</b>ub</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Rabbit</b>CMS</span>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="~/Themes/TheAdmin/Content/images/user2-160x160.jpg" class="user-image" alt="User Image" />
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">@User.Identity.Name</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img src="~/Themes/TheAdmin/Content/images/user2-160x160.jpg" class="img-circle" alt="User Image" />
                                    <p>
                                        @User.Identity.Name
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="@Url.Action("Edit","UserAdmin",new {area="Rabbit.Users"})" class="btn btn-default btn-flat">个人信息</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="@Url.Action("SignOut", "Account", new {area = "Rabbit.Users"})" class="btn btn-default btn-flat">退出</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- /.search form -->
                @if (Model.Navigation != null)
                {
                    @zone(Model.Navigation)
                }
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @*            <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Page Header
                        <small>Optional description</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                        <li class="active">Here</li>
                    </ol>
                </section>*@
            <!-- Main content -->
            <section class="content">
                @if (Model.Content != null)
                {
                    @zone(Model.Content)
                }
            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                RabbitCMS
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2015 <a href="http://www.rabbithub.com/" target="_blank">RabbitHub</a>.</strong> All rights reserved.
        </footer>
    </div><!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    <script src="~/Themes/TheAdmin/lib/jquery/jquery.min.js"></script>
    <script src="~/Themes/TheAdmin/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Themes/TheAdmin/dist/js/app.min.js"></script>
    @zone(Model.Scripts)
</body>
</html>